<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <a (click)="showSidebar()" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">settings</i></a>
  </div>
</nav>

<div *ngIf="sidebar" class="sidebar">
  <app-sidebar (doneSavePreferences)="showSidebar()"></app-sidebar>
</div>

<a class="preferences-form waves-effect waves-teal btn-flat" (click)="displayStories()">DISPLAY STORIES</a>

<div class="row">
  <div class="story-tile" *ngFor="let story of stories">
    <div class="col s6 m4 l3">
      <div class="card small">
        <div class="card-image">
          <img src={{story.img}}>
          <span class="card-title">{{story.title}}</span>
        </div>
        <div class="card-content">
          <p>{{story.content}}</p>
        </div>
        <div class="card-action">
          <a href="#"  (click)="navigate(story.link)">source</a>
        </div>
      </div>
    </div>
  </div>
</div>
