<div class="row" id="pie-chart-container">
  <div class="col-sm-3" id="intro-and-form">
    <p id="total-intro">Total number of records for this dataset: {{dataCount}}</p>
    <p id="form-intro">Breakdown information by selecting a column in the dataset</p>

    <select (change)="onChange($event.target.value)">
      <option *ngFor="let column of databaseColumns" value={{column.column}}>{{column.column}}</option>
    </select>
  </div>
  <div class="col-sm-9" id="chart-and-description">
    <p id="description">{{currentDescription}}</p>

    <div style="display: block">
      <canvas baseChart id="pie-chart"
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [colors]="pieChartColors"
      [chartType]="pieChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
