#time-chart-title {
  text-align: center;
  font-size: 30px;
  padding: 40px 0px 20px 0px;
}

#time-chart {
  padding: 0% 10%;
}

#form-and-description {
  padding-left: 15%;
  padding-top: 10px;
}

#form-intro {
  font-size: 18px;
  padding-bottom: 5px;
}
