<p>{{currentDescription}}</p>

<div>
  <select (change)="onChange($event.target.value)">
    <option *ngFor="let column of databaseColumns" value={{column.column}}>{{column.column}}</option>
  </select>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [colors]="barChartColors"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
