<div id="bar-chart-container">
  <div id="time-title">
    Trends over time
  </div>

  <div id="time-intro">
    Select a time-span to view how officer involved shootings compare over time.
  </div>

  <label>First date</label>
  <input type="date" #firstDate value="2005-03-21">
  <label>Second date</label>
  <input type="date" #secondDate value="2016-06-19">
  <button (click)="submitForm(firstDate.value, secondDate.value)">submit</button>

  <div id="test-bar" (window:resize)="onResize($event)"></div>
</div>
