<div class="sidebar-content row">
  <div class="col s11 offset-s1">
  <form>
    <h4 id="preferences-form-sources">SOURCES</h4>
    <hr>
    <div *ngFor="let option of options">
            <input type="checkbox"
                   name="options"
                   value="{{option.value}}"
                   id="{{option.value}}"
                   [(ngModel)]="option.checked"/>
            <label for="{{option.value}}">{{option.name}}</label>
    </div>
  </form>
  <!-- for now, I want to get this button to populate database by querying aylien api. in future, that will happen automatically and this button will apply filters -->
  <a class="preferences-form waves-effect waves-teal btn-flat" (click)="getStories()">SAVE PREFERENCES</a>
</div>
</div>
